@import url("https://use.fontawesome.com/releases/v6.5.1/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat");

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", Helvetica, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    background: #fff;
    border-radius: 10px;
    box-shadow: 
    0 14px 28px rgba(0, 0, 0, 0.2),
    0 10px 10px rgba(0, 0, 0, 0.2);
    overflow: scroll;
    font-family: "Montserrat", sans-serif;
}

img{
    width: auto;
    height: 300px;
}